.carousel-caption {
    background-color: rgba(66,64,121,0.6);
  
}


@media screen and (min-width:992px){
.carousel{
    margin:auto;
    width:60%;
}
.carousel-caption>h5{
    font-size: 2em;
}
.carousel-caption>p{
    font-size: 1.5em;
}
}