


.profile-photo{
    max-width:240px;
    height:auto;
    border: 3px #424079 solid;

}

.masthead-cont{
    background-color: #6f6db2;
}


 span{
        color: green !important;
    }


 #location{
     color:white !important; 
     white-space:nowrap;
 }   
