#navbar-toggler{
    outline:none;
    border:none;
}


.navbarNav{
    justify-content:flex-end;
}

#navbar-main{
    background-color:rgb(66, 64, 121)!important;
    
    a{
        color:rgba(255,255,255,0.5) !important;
    }
    a:hover{
        color:white !important;
    }
}